.container {
  flex: 1;
  line-height: 1.3em;
}

.image {
  align-self: center;
  width: 80%;
}

.title {
  margin-bottom: 8px;
  color: initial;
}

.italic {
  font-style: italic;
  color: initial;
}

.imageLink {
  text-align: center;
}
